<div class="jumbotron" id="main-jumbo">
    <h1>Fotball turnering 2013</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
          <h4>Info</h4>
            <p>
                Den 21. mai kl. 12:00 blir det fotballcup på Kalandeid Idrettslags fotballbane
                <br>
                Kalandeid IL fotballbane finner du rett ved Kaland Skole
            </p>
            <br>
            <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBnQyTdSjpBGo6_LFiFfJx62bkcUnPQgSU&q=60.279227,5.404097" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <h4>Påmeldte:</h4>
            <p>
                Lag:
                {{num_teams}}
                <br>
                Spillere:
                {{num_players}}
            </p>
        </div>
    </div>
</div>
