<div class="jumbotron" id="main-jumbo">
    <h1>Fotball turnering 2013</h1>
</div>
<div class="container">
  <div class="centered">
    <h2>Lag</h2>
  </div>
  <table class="table-striped table-bordered table">
    <thead>
        <td>Navn</td>
        <td>Liga</td>
        <td>Spillere</td>
        <td>Telefon</td>
        <td>Påmeldt</td>
    </thead>

    <tbody>
      <tr ng-repeat="lag in lag">
        <td>{{lag.navn}}</td>
        <td>{{lag._liga.navn}}</td>
        <td><p ng-repeat="spiller in lag.spillere">{{spiller.navn}}</p></td>
        <td>{{lag.telefon}}</td>
        <td>{{lag.added | date : "dd/MM/yyyy"}}</td>
      </tr>
    </tbody>
  </table>
</div>
